/* Новые классы */

.own-text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
}

.own-text-list li {
    position: relative;
    padding: 0 7px 0 15px;
    color: #666;
}

.own-text-list li::before {
    content: "";
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: #666;
}

.requisites {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 39px;
}

.requisites .requisites__item {
    min-width: 181px;
}

.requisites .requisites__item:nth-child(even) {
    grid-column: 1 / 2;
}

.requisites .requisites__item:nth-child(odd) {
    grid-column: 2 / 6;
}

.requisites .requisites__item:first-child {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 6;
    margin-bottom: 22px;
}

.requisites .requisites__item:first-child .requisites__value {
    text-transform: uppercase;
}

.requisites .requisites__name,
.requisites .requisites__value {
    text-transform: uppercase;
    color: var(--pbmit-blackish-color);
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
}

.requisites .requisites__value {
    font-weight: 400;
    color: #666;
    text-transform: none;
}

.m-intro-slider {
    overflow: hidden;
}

.m-intro-slider__slide {
    position: relative;
    height: auto;
    min-height: calc(100vh - 130px);
}

.m-intro-slider__content {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.m-intro-slider__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.m-intro-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-intro-slider__title {
    margin-top: 22.5vh;
}

.m-intro-slider__title .pbmit-title {
    color: var(--pbmit-white-color); 
    font-size: 70px;
    font-weight: 700;
    line-height: 1em;
}

.m-intro-slider__text {
    margin-top: 30px;
}

.m-intro-slider__text, 
.m-intro-slider__text span,
.m-intro-slider__text p,
.m-intro-slider__text ol li,
.m-intro-slider__text ul li {
    color: var(--pbmit-white-color); 
    font-size: 17.5px;
    font-weight: 400;
    line-height: 1.6em;
}

.m-intro-slider__btn {
    margin-top: 50px;
}

.m-intro-slider__controls {
    position: absolute;
    left: 0;
    bottom: 42px;
    width: 100%;
}

.m-intro-slider__controls .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.m-intro-slider__pagination.swiper-pagination {
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.m-intro-slider__pagination.swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #E3E3E3;
    border: none;
}

.m-intro-slider__pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: none;
    background-color:  var(--pbmit-global-color);
}

.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev {
	background: transparent;
	border: 2px solid var(--pbmit-white-color);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev {
	background: transparent;
	border: 2px solid var(--pbmit-global-color);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:hover, 
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:hover,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:hover, 
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:hover {
	background-color: var(--pbmit-blackish-color);
	border-color:var(--pbmit-blackish-color);
}

.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:after,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:after {
	color: var(--pbmit-white-color);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:after,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:after {
	color: var(--pbmit-global-color);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:hover:after,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:hover:after,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:hover:after,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:hover:after {
	color: var(--pbmit-white-color);
}

.m-image-slider__controls .pbmit-swiper-button,
.m-intro-slider__controls .pbmit-swiper-button {
    display: flex;
    gap: 10px;
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-next,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next {
	bottom: 0;
	top: auto;
	border-radius: 0;
    height: 55px;
    width: 55px
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:before,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:before {
	position: absolute;
    content: '';
	background-color: var(--pbmit-white-color);
	transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:before,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:before {
	background-color: var(--pbmit-global-color);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next {
	position: relative;
    left: 0;
    right: 0;
}
.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:hover:before,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:hover:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:hover:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:hover:before  {
	background-color: var(--pbmit-blackish-color);
}
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev,
.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev {
    position: relative;
    left: 0;
    right: 0;
	clip-path: polygon(100% 0, 100% 70%, 70% 100%, 0 100%, 0 0);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-prev:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-prev:before {
    left: 32px;
    right: auto;
    height: 2px;
    width: 30px;
    bottom: 9px;
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next {
    clip-path: polygon(100% 0, 100% 70%, 70% 100%, 0 100%, 0 0);
}

.m-image-slider__controls .pbmit-swiper-button .swiper-button-next:before,
.m-intro-slider__controls .pbmit-swiper-button .swiper-button-next:before {
    right: -5px;
    left: auto;
    height: 2px;
    width: 30px;
    bottom: 3px;
}

.m-image-slider {
    overflow: hidden;
    margin-bottom: 60px;
}

.m-image-slider__controls {
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    .m-intro-slider__slide {
        min-height: calc(100vh - 80px);
    }
}

@media screen and (max-width: 767px) {
    .m-intro-slider__title {
        margin-top: 12vh;
    }
    
    .m-intro-slider__title .pbmit-title {
        color: var(--pbmit-white-color); 
        font-size: 40px;
    }
    
    .m-intro-slider__text {
        margin-top: 20px;
    }
    
    .m-intro-slider__text, 
    .m-intro-slider__text span,
    .m-intro-slider__text p,
    .m-intro-slider__text ol li,
    .m-intro-slider__text ul li {
        color: var(--pbmit-white-color); 
        font-size: 16px;
    }
    
    .m-intro-slider__btn {
        margin-top: 40px;
    }

    .m-intro-slider__controls .container {
        justify-content: center;
    }

    .m-intro-slider__controls .pbmit-swiper-button {
        display: none;
    }

    .m-intro-slider__pagination.swiper-pagination {
        justify-content: center;
    }

    .requisites {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .requisites .requisites__item:nth-child(even) {
        grid-column: 1 / 2;
    }
    
    .requisites .requisites__item:nth-child(odd) {
        grid-column: 1 / 2;
    }
    
    .requisites .requisites__item:first-child {
        grid-column: 1 / 2;
        margin-bottom: 0;
        display: block;
    }

}


/* Header */

.site-header .pbmit-pre-header-left {
    width: 100%;
}

.site-header .pbmit-pre-header-left .pbmit-contact-info {
    display: flex;
    align-items: center;
}

.site-header .pbmit-pre-header-left .pbmit-contact-info li:first-child {
    margin-right: auto;
}

.site-header .pbmit-pre-header-right .pbmit-contact-info li a {
    color: var(--pbmit-white-color);
}

.site-header .pbmit-pre-header-right .pbmit-contact-info li a:hover {
    color: var(--pbmit-global-color);
}

/* Footer */

.site-footer.footer-style-3 .pbmit-footer-widget-area {
    padding-bottom: 25px;
}

.site-footer .widget {
    padding-top: 52px;
}

.site-footer.footer-style-3 .widget-title {
    color: var(--pbmit-white-color);
    margin-bottom: 32px;
}

.site-footer.footer-style-3 .widget-title:last-child {
    margin-bottom: 15px;
}

.site-footer.footer-style-3 .pbmit-footer-widget-col-1 {
    padding-right: 35px;
}

.site-footer.footer-style-3 .pbmit-contact-widget-line a {
    color: var(--pbmit-white-color);
    text-decoration: underline;
}

.site-footer.footer-style-3 .pbmit-contact-widget-line a:hover {
    color: var(--pbmit-global-color);
}

.site-footer.footer-style-3 .pbmit-contact-widget-lines .pbmit-contact-widget-line:not(:first-child) {
    margin-top: 15px;
}

.site-footer.footer-style-3 .pbmit-social-links {
    margin-top: 15px;
    margin-bottom: 48px;
}

.site-footer.footer-style-3 .pbmit-btn:hover {
    background-color: var(--pbmit-white-color);
    color: var(--pbmit-global-color);
}

.site-footer.footer-style-3 .pbmit-social-links li:first-child a {
    background-color: transparent;
}

.site-footer.footer-style-3 .pbmit-social-links li:last-child a {
    background-color: transparent;
}

.site-footer.footer-style-3 .pbmit-social-links li:not(:last-child) {
    margin-right: 3px;
}

.site-footer.footer-style-3 .pbmit-social-links li a {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.site-footer.footer-style-3 .pbmit-footer-text-area {
    background-color: var(--pbmit-blackish-color);
    padding: 0;
    text-align: center;
}

.site-footer.footer-style-3 .pbmit-footer-text-area .container {
    padding-top: 52px;
    padding-bottom: 52px;
    border-top: 1px solid #3147F338;
}

/* Главная */

.about-section_one .about-one_ihbox .about-one_btn {
    padding-top: 55px;
}

.fid-one_box .pbminfotech-ele-fid-style-1 .pbmit-fid-title {
    margin-top: 28px;
}

.pbmit-service-style-1 .pbminfotech-post-item {
    padding: 45px 42px 25px;
    min-height: 497px;
}

.pbmit-service-style-1 .pbminfotech-post-item .own-text-list li {
    padding: 0;
}

.pbmit-service-style-1.swiper-slide-active .pbminfotech-post-item .own-text-list li {
    color: var(--pbmit-white-color);
}

.pbmit-service-style-1.swiper-slide-active .pbminfotech-post-item .own-text-list li::before {
    background-color: var(--pbmit-white-color);
}

.pbmit-service-style-1 .pbminfotech-post-item .own-text-list li::before {
    left: -15px;
}

.pbmit-service-style-1 .pbminfotech-box-content h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.about-us_one .pbmit-ihbox-style-4 .pbmit-btn {
    background-color: var(--pbmit-white-color);
    margin-top: 63px;
}

.about-us_one .pbmit-ihbox-style-4 .pbmit-btn:hover {
    background-color: var(--pbmit-blackish-color);
}

.portfolio-one-top_area {
    margin-top: 130px;
}

.client-section_one {
    padding-top: 130px;
    padding-bottom: 67px;
}

@media screen and (max-width: 1200px) {
    .portfolio-one-top_area {
        margin-top: 60px;
    }

    .service-one_bg .container-fluid .pbmit-element-viewtype-carousel-1 {
        margin-left: -19px;
        margin-right: -19px;
    }
}

@media screen and (max-width: 767px) {
    .service-one-top_area {
        margin: 0;
    }

    .portfolio-one-top_area {
        margin-top: 30px;
    }

    .client-section_one {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    
    .pbmit-element-portfolio-style-2 {
        padding-bottom: 60px;
    }
}

/* Блог */

.pbmit-title-bar-wrapper .pbmit-tbar {
    padding-right: 0;
}

.pbmit-title-bar-wrapper .pbmit-breadcrumb {
    padding-left: 0;
}

.pbmit-blog-style-1 .post-item {
    height: 100%;
}

.pbmit-blog-style-1 .post-item .pbmit-category-date-wraper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pbmit-blog-style-1 .post-item .pbmit-category-date-wraper .pbmit-post-date {
    position: relative;
    z-index: 10;
    top: -20px;
    right: -18px;
}

.blog-page .pbmit-element-posts-wrapper .pbmit-blog-style-1 {
    position: relative !important;
}

.blog-page .pbmit-element-posts-wrapper .pbmit-blog-style-1 {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

@media screen and (max-width: 767px) {
    .pbmit-blog-style-1 .post-item .pbmit-category-date-wraper .pbmit-post-date {
        font-size: 14px;
    }
}

/* Статья */

.blog-details .blog-classic .pbmit-entry-content .pbmit-icon-list-text {
    color: #666666;
    font-weight: 400;
}

.blog-details .blog-classic .pbmit-entry-content ol li::marker {
    font-weight: 700;

}

.blog-details .single-blog-authorbox .pbmit-social-links li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .blog-details {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 575px) {
    .blog-details .post-navigation .nav-links, 
    .portfolio_single .post-navigation .nav-links {
        display: flex;
    }
}

/* Контакты */

.requisites_section {
    padding-top: 0;
}

.contact-form-section {
    padding-bottom: 85px;
}

@media screen and (max-width: 767px) {
    .contact-form_leftbox {
        padding-right: 0;
    }
}

/* О компании */

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items {
    padding: 0;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items:before {
    border-left: 1px dashed #C0C8DE;
    width: 1px;
    background-color: #F4F4F4;
    left: calc(50% - 0.5px);
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-first-timeline {
    border-radius: 100%;
    width: 9px;
    height: 9px;
    background-color: #C0C8DE;
    border: none;
    left: calc(50% - 5px);
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-last-timeline {
    width: 9px;
    height: 9px;
    border: none;
    border-right: 1px solid var(--pbmit-global-color);
    border-bottom: 1px solid var(--pbmit-global-color);
    left: calc(50% - 5px);
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
    justify-content: flex-start;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-left {
    display: flex;
    justify-content: flex-start;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-left {
    justify-content: flex-end;
}


.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content {
    border: none;
    padding: 31px 30px 33px 50px;
    border-radius: 5px;
    box-shadow: 6px 7px 20px 0px #00000033;
    background-color: var(--pbmit-white-color);
    max-width: 363px;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .pbmit-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    color: var(--pbmit-global-color);
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content .simple-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73em;
    color: #666;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--pbmit-global-color);
    z-index: 10;
    color: var(--pbmit-white-color);
}
.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    border-top: 1px dashed #C0C8DE;
    background-color: #F4F4F4;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner {
    position: relative;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--pbmit-white-color);
    border: solid 3px var(--pbmit-global-color);
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label {
    right: -30px;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(even) .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label::after {
    left: 100%;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label {
    left: -30px;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label::after {
    right: 100%;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content::after {
    content: none !important;
}
.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .content::before {
    content: none !important;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner {
    padding-bottom: 0;
    margin-bottom: 70px;
}

.about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner:last-child {
    margin-bottom: 0;
}

.about-us_one {
    margin-top: 140px;
    margin-bottom: 140px;
    padding: 170px 0 85px 0;
}

@media screen and (max-width: 1200px) {
    .about-us_one {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 85px 0 65px 0;
    }

    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-left {
       display: none;
    }

    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right .label {
        left: 50% !important;
        top: 0;
        transform: translate(-50%, -50%);
        right: auto;
    }

    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items {
        padding-top: 60px;
    }

    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-post-items .pbmit-timeline-inner {
        margin-bottom: 20px;
    }

    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner:nth-child(odd) .pbmit-ourhistory-type2 .pbmit-ourhistory-right,
    .about_us .pbmit-timeline-style .pbmit-timeline .pbmit-timeline-inner .pbmit-ourhistory-type2 .pbmit-ourhistory-right {
        justify-content: center;
    }

    .about_us .pbmit-timeline-style .pbmit-ourhistory-type2 .pbmit-ourhistory-row {
        padding-bottom: 39px;
    }
}


/* О компании 2 */

.about-us-2 .about-us__item {
    padding-left: 83px;
    position: relative;
}

.about-us-2 .about-us__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 18px;
    height: 18px;
    background-color: var(--pbmit-global-color);
}

.about-us-2 .about-us__item .pbmit-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.27em;
}

.about-us-2 .about-us__item .simple-text p {
    margin-bottom: 35px;
}
 
.about-us-2 .pbmit-timeline-style .container {
    max-width: 1289px;
}

.about-us-2 .about-us__left {
    padding-right: 0px;
}

.about-us-2 .about-us__right {
    padding-left: 95px;
}

@media screen and (max-width: 1200px) {
    .about-us-2 .about-us__right {
        padding-left: 12px;
    }
}

@media screen and (max-width: 767px) {
    .about-us-2 .about-us__item {
        padding-left: 0;
    }
    
    .about-us-2 .about-us__item:before {
        left: 0;
        top: 12px;
        width: 6px;
        height: 6px;
    }
    
    .about-us-2 .about-us__item .pbmit-title {
        font-size: 24px;
        padding-left: 18px;
    }
    
    .about-us-2 .about-us__item .simple-text p {
        margin-bottom: 25px;
    }
}

/* Документы */

.docs-page .pbmit-btn.pbmit-btn-download span::after {
    content: none;
}

.docs-page .pbmit-btn.pbmit-btn-download {
   display: flex;
   align-items: center;
   padding: 20px 37px 20px 26px;
   margin-bottom: 43px;
}

.docs-page .pbmit-btn.pbmit-btn-download:last-child {
    margin-bottom: 0;
 }

.docs-page .pbmit-btn.pbmit-btn-download .file-svg {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.docs-page .pbmit-btn.pbmit-btn-download .arrow-svg {
    margin-left: auto;
    padding-right: 0;
    width: 22px;
    height: 22px;
}

.docs-page .about-us_one {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .docs-page .pbmit-btn.pbmit-btn-download {
        margin-bottom: 20px;
    }
}

/* Для бизнеса */

.page-for-business .pbmit-blog-style-1 .pbmit-meta-date-month {
    background-color: var(--pbmit-global-color);
}

.page-for-business .pbmit-blog-style-1 .pbmit-meta-date-month svg {
    width: 26px;
    height: 26px;
}

.page-for-business .blog_one {
    padding-top: 0;
    padding-bottom: 0;
}

.page-for-business .blog_one .pbmit-post-title {
    font-size: 24px;
}

.page-for-business .blog_one .pbminfotech-box-content {
    padding: 20px 30px;
}

.page-for-business .blog_one .pbmit-content-wrapper {
    margin: 0;
}

.page-for-business .portfolio-one-top_area {
    margin-top: 0;
}

.page-for-business .pbmit-element-portfolio-style-2 {
    padding-bottom: 200px;
}

@media screen and (max-width: 767px) {
    .page-for-business .pbmit-element-portfolio-style-2 {
        padding-bottom: 60px;
    }
}

/* Направление */

.direction-page .portfolio-one-top_area {
    margin-top: 20px;
}

.direction-page .pbmit-element-portfolio-style-2 {
    padding-bottom: 200px;
}

.direction-page .pbmit-portfolio-single .list-group {
    margin-bottom: 30px;
}

.project-page .m-image-slider,
.direction-page .m-image-slider {
    margin-top: 60px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .direction-page .pbmit-element-portfolio-style-2 {
        padding-bottom: 120px;
    }
}

/* Проект */

.project-page .pbmit-portfolio-single .list-group--dotted {
    list-style-type: disc;
    color: var(--pbmit-blackish-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.55em;
}

.project-page .portfolio-one-top_area {
    margin-top: 93px;
}

.project-page .pbmit-element-portfolio-style-2 {
    padding-bottom: 200px;
}

@media screen and (max-width: 1024px) {
    .project-page .pbmit-portfolio-single .list-group--dotted {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .project-page .portfolio-one-top_area {
        margin-top: 60px;
    }

    .project-page .pbmit-element-portfolio-style-2 {
        padding-bottom: 60px;
    }
}



/*404*/

.error-page .pbmit-title-bar-wrapper {
    background-image: url(../images/bg/404-titlebar-bg.jpg);
    min-height: calc(100vh - 130px);
}

.error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content {
    padding-top: 150px;
}

.error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content .pbmit-tbar-title {
   font-size: 200px;
   line-height: 1.05em;
}

.error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content p {
    font-family: Blender Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4em;
    margin-top: 20px;
    margin-bottom: 72px;
    color: var(--pbmit-white-color);
}

.error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    font-size: 17.58px;
    font-weight: 500;
    line-height: 1.64em;
    color: var(--pbmit-white-color);
}

.error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content a svg {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 1200px) {
    .error-page .pbmit-title-bar-wrapper {
        min-height: calc(100vh - 80px);
    }
}

@media screen and (max-width: 500px) {
    .error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content {
        padding-top: 90px;
    }
    
    .error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content .pbmit-tbar-title {
       font-size: 150px;
    }
    
    .error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content p {
        font-size: 20px;
        margin-bottom: 52px;
    }
    
    .error-page .pbmit-title-bar-wrapper .pbmit-title-bar-content a {
        font-size: 16px;
    }
}

/* Поиск */

.search-page .pbmit-site-searchform button {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    background-color: transparent;
    text-indent: -9999px;
    line-height: 58px;
    font-size: 16px;
    outline: none;
    padding: 0;
    border: none;
    z-index: 1;
    color: var(--pbmit-white-color);
}

.search-page .pbmit-site-searchform:after {
    font-family: "pbminfotech-base-icons";
    content: '\e80d';
    position: absolute;
    right: 10px;
    top: 15px;
    color: #000;
    font-size: 25px;
    line-height: normal;
}

.search-page .pbmit-search-outer {
    margin: 0;
    transform: none;
}

.search-page .pbmit-site-searchform .form-control {
    font-size: 24px;
    padding: 14px 0 16px;
    border: none;
    border-bottom: 1px solid #14193C;
}

.search-page .search-page__results {
    margin-top: 79px;
}